<!DOCTYPE html>
<html>
<head>
  <title>GraphQL Schemas</title>
  <style type="text/css">
    body {
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
      padding: 0 20px;
      border-top: 10px solid #5BC6FF;
      margin: 0;
    }

    .heading {
      margin-top: 50px;
    }

    .list li {
      margin-bottom: 8px;
    }

    .list li a {
      text-decoration: none;
    }

    .descriptions {
      color: #5C5C5C;
    }
  </style>
</head>
<body>
  <h1 class="heading">Available GraphQL Schemas</h1>
  <p class="description">
    Click following links to launch the <b>GraphQL IDE</b> for each schema.
  </p>
  <div class="list">
    <ul>
    <% schemas.forEach(function(schema) { %>
      <li>
        <a href="/graphql/ide?schema=<%=schema.name%>"><%=schema.name %></a>
      </li>
    <% }) %>
    </ul>
  </div>
</body>
</html>